# Investigating_Airplane_Accidents

In this project, we worked with a dataset of airplane accident statistics to analyze patterns and look for any common threads. The dataset we have worked with contains 77,282 aviation accidents that occurred in the U.S., and the metadata associated with them. The data in our `AviationData.txt` file comes from the [National Transportation Safety Board (NTSB)](http://www.ntsb.gov/Pages/default.aspx) and is available for download [here](http://catalog.data.gov/dataset/aviation-data-and-documentation-from-the-ntsb-accident-database-system-05748/resource/4b1e95fe-91a7-4112-85fa-424d2672a906). The preview of file is below:

Event Id | Investigation Type | Accident Number | Event Date | Location | Country | Latitude | Longitude | Airport Code | Airport Name | Injury Severity | Aircraft Damage | Aircraft Category | Registration Number | Make | Model | Amateur Built | Number of Engines | Engine Type | FAR Description | Schedule | Purpose of Flight | Air Carrier | Total Fatal Injuries | Total Serious Injuries | Total Minor Injuries | Total Uninjured | Weather Condition | Broad Phase of Flight | Report Status | Publication Date |
20150908X74637 | Accident | CEN15LA402 | 09/08/2015 | Freeport, IL | United States | 42.246111 | -89.581945 | KFEP | albertus Airport | Non-Fatal | Substantial | Unknown | N24TL | CLARKE REGINALD W | DRAGONFLY MK |  |  |  | Part 91: General Aviation |  | Personal |  |  | 1 |  |  | VMC | TAKEOFF | Preliminary | 09/09/2015 | 

As we can see, the file isn't in CSV format; it separates the fields with a pipe character (`|`) instead. Below is a description of some columns:

- `Event Id` - The unique id for the incident
- `Investigation Type` - The type of investigation the NTSB conducted
- `Event Date` - The date of the accident
- `Location` - Where the accident occurred
- `Country` - The country where the accident occurred
- `Latitude` - The latitude where the accident occurred
- `Longitude` - The longitude where the accident occurred
- `Injury Severity` - The severity of any injuries
- `Aircraft Damage` - The extent of the damage to the aircraft
- `Aircraft Category` - The type of aircraft
- `Make` - The make of the aircraft
- `Model` - The model of the aircraft
- `Number of Engines` - The number of engines on the plane
- `Air Carrier` - The carrier operating the aircraft
- `Total Fatal Injuries` - The number of fatal injuries
- `Total Serious Injuries` - The number of serious injuries
- `Total Minor Injuries` - The number of minor injuries
- `Total Uninjured` - The number of people who did not sustain injuries
- `Broad Phase of Flight` - The phase of flight during which the accident occurred

In [1]:
# opening AviationData.txt file

aviation_list = []
with open('AviationData.txt', 'r') as file:
    aviation_data = file.readlines()
    for line in aviation_data:
        aviation_list.append(line.strip('\n').split(' | '))
aviation_list[1]

['20150908X74637',
 'Accident',
 'CEN15LA402',
 '09/08/2015',
 'Freeport, IL',
 'United States',
 '42.246111',
 '-89.581945',
 'KFEP',
 'albertus Airport',
 'Non-Fatal',
 'Substantial',
 'Unknown',
 'N24TL',
 'CLARKE REGINALD W',
 'DRAGONFLY MK',
 '',
 '',
 '',
 'Part 91: General Aviation',
 '',
 'Personal',
 '',
 '',
 '1',
 '',
 '',
 'VMC',
 'TAKEOFF',
 'Preliminary',
 '09/09/2015',
 '']

In [2]:
# performing search for accident number 'LAX94LA336'
def code_search(code):
    lax_code = []
    for row in aviation_list:
        for item in row:
            if item == code:
                lax_code.append(row)
    return lax_code

lax_code = code_search('LAX94LA336')
        
lax_code

[['20001218X45447',
  'Accident',
  'LAX94LA336',
  '07/19/1962',
  'BRIDGEPORT, CA',
  'United States',
  '',
  '',
  '',
  '',
  'Fatal(4)',
  'Destroyed',
  '',
  'N5069P',
  'PIPER',
  'PA24-180',
  'No',
  '1',
  'Reciprocating',
  '',
  '',
  'Personal',
  '',
  '4',
  '0',
  '0',
  '0',
  'UNK',
  'UNKNOWN',
  'Probable Cause',
  '09/19/1996',
  '']]

Above algorithm took quadratic time (O(n^2)), because it has to loop through each row first and then each item in that row.

In [3]:
# performing linear search (O(n)) for searching 'LAX94LA336'

lax_code = []
for line in aviation_list:
    if 'LAX94LA336' in line:
        lax_code.append(line)
        
lax_code

[['20001218X45447',
  'Accident',
  'LAX94LA336',
  '07/19/1962',
  'BRIDGEPORT, CA',
  'United States',
  '',
  '',
  '',
  '',
  'Fatal(4)',
  'Destroyed',
  '',
  'N5069P',
  'PIPER',
  'PA24-180',
  'No',
  '1',
  'Reciprocating',
  '',
  '',
  'Personal',
  '',
  '4',
  '0',
  '0',
  '0',
  'UNK',
  'UNKNOWN',
  'Probable Cause',
  '09/19/1996',
  '']]

In [4]:
# performing binary search (O(log(n))) for searching 'LAX94LA336'

import bisect
sorted_aviation_list = sorted(aviation_list, key=lambda row: row[2])
sorted_aviation_list[:2]

[['20001212X20184',
  'Accident',
  'ANC00FA018',
  '12/07/1999',
  'BETHEL, AK',
  'United States',
  '',
  '',
  '',
  '',
  'Fatal(6)',
  'Destroyed',
  '',
  'N1747U',
  'Cessna',
  '207',
  'No',
  '1',
  'Reciprocating',
  '',
  'SCHD',
  'Unknown',
  'GRANT AVIATION, INC.',
  '6',
  '0',
  '0',
  '0',
  'IMC',
  'CRUISE',
  'Probable Cause',
  '04/18/2001',
  ''],
 ['20001212X20436',
  'Accident',
  'ANC00FA024',
  '02/05/2000',
  'ILIAMNA, AK',
  'United States',
  '',
  '',
  '',
  '',
  'Fatal(6)',
  'Destroyed',
  '',
  'N756HG',
  'Cessna',
  'U206G',
  'No',
  '1',
  'Reciprocating',
  '',
  'NSCH',
  'Unknown',
  '',
  '6',
  '0',
  '0',
  '0',
  'UNK',
  'CRUISE',
  'Probable Cause',
  '07/17/2001',
  '']]

In [5]:
sorted_accident_numbers = [row[2] for row in sorted_aviation_list]

sorted_accident_numbers[:10]

['ANC00FA018',
 'ANC00FA024',
 'ANC00FA052',
 'ANC00FA056',
 'ANC00FA076',
 'ANC00FA081',
 'ANC00FA082',
 'ANC00FA093',
 'ANC00FA110',
 'ANC00FA128']

In [6]:
index_lax = bisect.bisect_left(sorted_accident_numbers, 'LAX94LA336')

sorted_aviation_list[index_lax]

['20001218X45447',
 'Accident',
 'LAX94LA336',
 '07/19/1962',
 'BRIDGEPORT, CA',
 'United States',
 '',
 '',
 '',
 '',
 'Fatal(4)',
 'Destroyed',
 '',
 'N5069P',
 'PIPER',
 'PA24-180',
 'No',
 '1',
 'Reciprocating',
 '',
 '',
 'Personal',
 '',
 '4',
 '0',
 '0',
 '0',
 'UNK',
 'UNKNOWN',
 'Probable Cause',
 '09/19/1996',
 '']

In [7]:
# storing data as a list of dictionaries
aviation_dict_list = []
keys = aviation_data[0].split(' | ')
for line in aviation_data[1:]:
    splitted_dict_lines = dict(zip(keys, line.split(' | ')))
    aviation_dict_list.append(splitted_dict_lines)
    
aviation_dict_list[:2]

[{'Event Id': '20150908X74637',
  'Investigation Type': 'Accident',
  'Accident Number': 'CEN15LA402',
  'Event Date': '09/08/2015',
  'Location': 'Freeport, IL',
  'Country': 'United States',
  'Latitude': '42.246111',
  'Longitude': '-89.581945',
  'Airport Code': 'KFEP',
  'Airport Name': 'albertus Airport',
  'Injury Severity': 'Non-Fatal',
  'Aircraft Damage': 'Substantial',
  'Aircraft Category': 'Unknown',
  'Registration Number': 'N24TL',
  'Make': 'CLARKE REGINALD W',
  'Model': 'DRAGONFLY MK',
  'Amateur Built': '',
  'Number of Engines': '',
  'Engine Type': '',
  'FAR Description': 'Part 91: General Aviation',
  'Schedule': '',
  'Purpose of Flight': 'Personal',
  'Air Carrier': '',
  'Total Fatal Injuries': '',
  'Total Serious Injuries': '1',
  'Total Minor Injuries': '',
  'Total Uninjured': '',
  'Weather Condition': 'VMC',
  'Broad Phase of Flight': 'TAKEOFF',
  'Report Status': 'Preliminary',
  'Publication Date': '09/09/2015',
  '\n': '\n'},
 {'Event Id': '20150906X32704',
  'Investigation Type': 'Accident',
  'Accident Number': 'ERA15LA339',
  'Event Date': '09/05/2015',
  'Location': 'Laconia, NH',
  'Country': 'United States',
  'Latitude': '43.606389',
  'Longitude': '-71.452778',
  'Airport Code': 'LCI',
  'Airport Name': 'Laconia Municipal Airport',
  'Injury Severity': 'Fatal(1)',
  'Aircraft Damage': 'Substantial',
  'Aircraft Category': 'Weight-Shift',
  'Registration Number': 'N2264X',
  'Make': 'EVOLUTION AIRCRAFT INC',
  'Model': 'REVO',
  'Amateur Built': 'No',
  'Number of Engines': '1',
  'Engine Type': 'Reciprocating',
  'FAR Description': 'Part 91: General Aviation',
  'Schedule': '',
  'Purpose of Flight': 'Personal',
  'Air Carrier': '',
  'Total Fatal Injuries': '1',
  'Total Serious Injuries': '',
  'Total Minor Injuries': '',
  'Total Uninjured': '',
  'Weather Condition': 'VMC',
  'Broad Phase of Flight': 'MANEUVERING',
  'Report Status': 'Preliminary',
  'Publication Date': '09/10/2015',
  '\n': '\n'}]

In [8]:
# search accident number 'LAX94LA336' in dictionary
lax_dict = []
for dict_ in aviation_dict_list:
    if 'LAX94LA336' in dict_.values():
        lax_dict.append(dict_)
        
lax_dict

[{'Event Id': '20001218X45447',
  'Investigation Type': 'Accident',
  'Accident Number': 'LAX94LA336',
  'Event Date': '07/19/1962',
  'Location': 'BRIDGEPORT, CA',
  'Country': 'United States',
  'Latitude': '',
  'Longitude': '',
  'Airport Code': '',
  'Airport Name': '',
  'Injury Severity': 'Fatal(4)',
  'Aircraft Damage': 'Destroyed',
  'Aircraft Category': '',
  'Registration Number': 'N5069P',
  'Make': 'PIPER',
  'Model': 'PA24-180',
  'Amateur Built': 'No',
  'Number of Engines': '1',
  'Engine Type': 'Reciprocating',
  'FAR Description': '',
  'Schedule': '',
  'Purpose of Flight': 'Personal',
  'Air Carrier': '',
  'Total Fatal Injuries': '4',
  'Total Serious Injuries': '0',
  'Total Minor Injuries': '0',
  'Total Uninjured': '0',
  'Weather Condition': 'UNK',
  'Broad Phase of Flight': 'UNKNOWN',
  'Report Status': 'Probable Cause',
  'Publication Date': '09/19/1996',
  '\n': '\n'}]

Searching through dictionaries was easier, though!

In [9]:
# counting accidents that occured in each U.S. state

from collections import Counter

states = []
for dict_ in aviation_dict_list:
    # parsing the state by splitting the 'Location' field and extracting state
    if dict_['Country'] == 'United States' and ',' in dict_['Location']:
        state = dict_['Location'].split(',')[1].strip(' ')
        if len(state) == 2:
            states.append(state)
            
states_accidents = Counter(states)
states_accidents

Counter({'IL': 1874,
         'NH': 326,
         'SD': 393,
         'CA': 8029,
         'NJ': 1067,
         'TN': 951,
         'NC': 1433,
         'ID': 1228,
         'TX': 5112,
         'CT': 445,
         'PA': 1571,
         'MO': 1404,
         'NV': 1054,
         'LA': 1074,
         'NY': 1715,
         'WY': 663,
         'AZ': 2502,
         'AL': 1032,
         'ME': 455,
         'MI': 1863,
         'FL': 5117,
         'AR': 1389,
         'MN': 1317,
         'OK': 1110,
         'OH': 1615,
         'AK': 5049,
         'ND': 514,
         'OR': 1559,
         'MT': 936,
         'IA': 731,
         'VA': 1108,
         'IN': 1169,
         'KY': 577,
         'NM': 1219,
         'WA': 2353,
         'NE': 642,
         'WI': 1388,
         'UT': 1162,
         'KS': 980,
         'GA': 1746,
         'CO': 2458,
         'MA': 896,
         'MS': 745,
         'SC': 849,
         'FN': 5,
         'WV': 362,
         'PR': 88,
         'MD': 720,
         'GU': 14,
         'HI': 411,
         'GM': 62,
         'VT': 212,
         'RI': 147,
         'PO': 8,
         'ON': 1,
         'AS': 1,
         'DE': 100,
         'MP': 2,
         'VI': 12,
         'AO': 7,
         'DC': 43,
         'UN': 5,
         'IS': 1})

In [10]:
# states with the most accidents
states_accidents.most_common(5)

[('CA', 8029), ('FL', 5117), ('TX', 5112), ('AK', 5049), ('AZ', 2502)]

In [11]:
def worst_month_accidents(data):
    months = []
    change_month = {"01":"January",
                    "02":"February",
                    "03":"March",
                    "04":"April",
                    "05":"May",
                    "06":"June",
                    "07":"July",
                    "08":"August",
                    "09":"September",
                    "10":"October",
                    "11":"November",
                    "12":"December"}
    
    for x in range(0, len(data)):
        month = data[x]['Event Date'][0:2]
        try:
            month = change_month[month]
        except KeyError:
            month = data[x]['Event Id'][4:6]
            month = change_month[month]
        if data[x]['Event Date'] != '':
            year = data[x]['Event Date'][-4:]
        else:
            year = data[x]['Event Id'][0:4]
        months.append(month + ' ' + year)
        
    worst_months = Counter(months)
    return worst_months, worst_months.most_common(3)

month_count_accidents, worst_3_months_acc = worst_month_accidents(aviation_dict_list)

worst_3_months_acc

[('July 1982', 433), ('August 1983', 421), ('July 1983', 413)]

The months with the most accidents are in the dead of summer and come at the beginning of our dataset. Next we will see if these months are also the ones that had the most injuries.

In [12]:
def worst_month_injuries(data):
    injuries_by_month = {}
    change_month = {"01":"January",
                    "02":"February",
                    "03":"March",
                    "04":"April",
                    "05":"May",
                    "06":"June",
                    "07":"July",
                    "08":"August",
                    "09":"September",
                    "10":"October",
                    "11":"November",
                    "12":"December"}
    for x in range(0, len(data)):
        injuries = 0
        month = data[x]['Event Date'][0:2]
        try: 
            month = change_month[month]
        except KeyError:
            month = data[x]['Event Id'][4:6]
            month = change_month[month]
        if data[x]['Event Date'] != '':
            year = data[x]['Event Date'][-4:]
        else:
            year = data[x]['Event Id'][0:4]
        month = month + ' ' + year
        fatal = data[x]['Total Fatal Injuries']
        serious = data[x]['Total Serious Injuries']
        # Skip the blanks        
        if fatal:
            injuries += int(fatal)
        if serious:
            injuries += int(serious)
        injuries_by_month[month] = injuries
        injuries_by_month = Counter(injuries_by_month)        
        
    return injuries_by_month, injuries_by_month.most_common(3)
           
month_count_injuries, worst_3_months_inj  = worst_month_injuries(aviation_dict_list)

worst_3_months_inj

[('January 2007', 102), ('July 2002', 71), ('June 2010', 5)]

Interestingly, the 3 worst months for injuries are not the same as the 3 worst months for accidents!